
<template>
  <div class="back-img">
    <div class="overlay">
        <div class="container-fluid">
          <div class="row" style="justify-content: flex-end;margin-bottom:80px">
          <div class="temperture-sec" >
                        <p class="temp-text">{{temp}}<b id="gettemperture"></b>°C</p>
                        <p class="temp-text">{{city}}</p>
          </div>  
        </div>
        </div>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 clockbox">
                        <p class="time">{{Hour}} : {{Minutes}}</p>
                    </div>
                </div>
        </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-12 wellcomekbox">
                        <p class="wellcome-text">Dear <b id="name">{{name}}</b> ,Wellcome</p>
                    </div>
                    <div class="col-12 col-md-12">
                        <h2 id="goal-text">{{goal}}</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="promt">
                    <h3>What is your main focus for today?</h3>    
                    <form>
                    <input type="text" data-test="focus-input" class="text-input" v-model="Goaltext" id="goalinput" autocomplete="off">
                      <input type="submit" v-on:click="addgoal"
       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
       tabindex="-1" />
                    </form>
                </div>
                   </div>
          
    </div>
    </div>
  </div>


</template>

<script>

export default {
  name: 'Home',
  data() { 
    return {
      city:localStorage.city,
      name:localStorage.name,
      cilicus:null,
      temp:localStorage.temp,
      Hour:null,
      Minutes:null,
      goal:localStorage.goaltext,
      Goaltext:null
      
     
    }
  },
  methods:{
    timeFunction: function() {
      var currentdate =  new Date() ;
      var hour = currentdate.getHours();
      var minute = currentdate.getMinutes();
      this.Hour = hour;
      this.Minutes = minute;
  
    },
    addgoal() {
      localStorage.goaltext = this.Goaltext;
      this.goal = localStorage.goaltext;
      this.Goaltext = '' ;
       
    }
  },
   created() {
    
     fetch("http://api.openweathermap.org/data/2.5/weather?q=" +localStorage.city+ "&appid=84384e92df42b18bd0a9b2ad65b5ac90")
     .then((response) => response.json())
      .then((data) => gettempnum(data));
       function gettempnum(d){
      localStorage.temp = Math.round(parseFloat(d.main.temp) - 273.15);
    }
   },
  components: {
   
  }, mounted () {
      this.timeFunction()
    }
 
  
}

</script>

<style scoped>


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.back-img{
  direction: ltr;
  min-height: 95vh;
  max-height: 95vh;
background-image: url(./Home-img/backgroundimage.jpg);
}
.temperture-sec {
                height: auto;
                width: 150px;
                border-radius: 17px;
                padding: 20px;
                font-size: 1.2rem;
              text-shadow: 0 1px 5px rgba(0,0,0,0.1);
                cursor: pointer;
                transition: 1s all;
                color: white;
            }
          
            .temp-text {
                text-align: center;
            }
             .clockbox {
               height: auto;
    border-radius: 17px;
    /* padding: 30px; */
    color: white;
    margin: 0px auto;
    transition: 1s all;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    cursor: pointer;
            }
             h2#goal-text {
                text-align: center;
                margin-bottom: 50px;
                text-shadow: 0 1px 5px rgba(0,0,0,0.1);
                color: white;
                font-size: 110%;
            }
            .time {
                cursor: default;
    font-size: 1050%;
        font-weight: 500;
    user-select: none;
    text-align: center;
    line-height: 1;
    letter-spacing: -5px;
            }
             .wellcome-text {
               
                line-height: normal;
              font-size: 337.5%;
              display: inline;
              font-weight: 500;
              user-select: none;
              text-align: center;
                color: white}

                .wellcomekbox {
                  display: inline;
                text-align: center;
                
            }
             .overlay {
                text-shadow: 0 1px 5px rgba(0,0,0,.1);
                width: 100%;
                min-height: 95vh;
                max-height: 95vh;
                z-index: 2;
            }
           .promt{
             padding-bottom: 10px;
             margin:0px auto;
           }
           h3{
             text-shadow: 0 1px 5px rgba(0,0,0,.1);
             color: white;
           }
          .text-input{
                width: 100%;
    padding-top: 4px;
    display: block;
    background: 0;
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 500;
    outline: 0;
    text-align: center;
    transition: border-color .2s ease;
    font-size: 120%;
    line-height: 120%;
          }
</style>
