<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Name"
                    v-model="name"
                    :items="items"
                    name="uname"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                 <v-row align="center" justify="space-around">
    <v-col cols="12">
      <v-select
        v-model="city"
        :items="items"
        label="City"
      >
      </v-select>
    </v-col>
  </v-row>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" v-on:click="persist">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
  }
</script>
<script>
export default {
    name:"Signup",
   data() {
       return {
           name: '',
           city: 'tehran',
           items:['tehran','tabriz','shiraz','esfahan']
           
       }
   },
   mounted(){
    if (localStorage.name || localStorage.city) {
      this.name = localStorage.name;
      this.city = localStorage.city;
    }
  },
methods: {
    persist() {
      localStorage.name = this.name;
      localStorage.city = this.city;
 this.$router.push('Home') 
      
     
    }
  
}
}
</script>
<style scoped>
.is-completed{
    color: red;
}
.items{
    background-color: silver;
    padding: 25px;
    border: 2px solid black;
}
.formbox{
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}
</style>