<template>
  <div>
  <div class="nav">
  
  <router-link to="/">Edit</router-link>
  <router-link to="/Home">Home</router-link>
  </div>
  <router-view />
  
  </div>
</template>

<script>
  
  
export default {
  name: 'App',
  
}
</script>

<style>
body{
  font-family: sans-serif;
}
.nav{
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 5vh;
  color: white;
  text-align: center;
}
a{
color: white;
text-decoration: none;
line-height: 5vh;
font-weight: bold;
text-align: center;
padding: 10px;
}
</style>
